{% extends "base.html" %}

{% block data %}
<link rel="stylesheet" href="{{ url_for('login.static', filename='css/login.css') }}">
{% endblock %}

{% block title %}
Login
{% endblock %}

{% block content %}
    <form id="authorization" method="post">
        <div id="form-name">Авторизация</div>
        <div class="form-content-placer">
            <label for="email">Введите вашу электронную почту:</label>
            <input class="form-input" id="email" name="email" placeholder="example@gmail.com"/>
        </div>
        <div class="form-content-placer">
            <label for="password">Введите пароль:</label>
            <input class="form-input" id="email" name="password" placeholder="Ваш пароль..."/>
        </div>
        <button id="submit-button" type="submit">Подтвердить</button>
    </form>
{% endblock %}