{% extends "base.html" %}

{% block data %}
<link rel="stylesheet" href="{{ url_for('login.static', filename='css/login.css') }}">
{% endblock %}

{% block title %}
Registration
{% endblock %}
    
{% block content %}
    <form id="authorization" method="post">
        <div id="form-name">Регистрация</div>
        <div class="form-content-placer">
            <label for="password">Введите ваше имя:</label>
            <input class="form-input" id="name" name="name" placeholder="Ваше имя"/>
        </div>
        <div class="form-content-placer">
            <label for="password">Введите вашу фамилию:</label>
            <input class="form-input" id="surname" name="surname" placeholder="Ваша фамилия"/>
        </div>
        <div class="form-content-placer">
            <label for="email">Введите вашу электронную почту:</label>
            <input class="form-input" id="email" name="email" placeholder="example@gmail.com"/>
        </div>
        <div class="form-content-placer">
            <label for="password">Введите пароль:</label>
            <input class="form-input" id="password" name="password" placeholder="Ваш пароль..."/>
        </div>
        <div class="form-content-placer">
            <label for="password">Подтвердите пароль:</label>
            <input class="form-input" id="confirm-password" name="confirm-password" placeholder="Подтвердите ваш пароль..."/>
        </div>
        <button id="submit-button" type="submit">Подтвердить</button>
    </form>
{% endblock %}