{% extends "base.html" %}

{% block data %}
    <link rel="stylesheet" href="{{ url_for('core.static', filename='css/index.css') }}">
    <script defer src="{{ url_for('core.static', filename='js/index.js') }}"></script>
{% endblock %}

{% block title %}
Core
{% endblock %}

{% block content %}
    <div id="search-container">
        <form id="search-form" method="post">
            <input id="search-input" name="search" placeholder="Поиск..." />
            <button id="search-button" type="submit">
                <img id="the-lupa" src="{{ url_for('core.static', filename='img/The_Lupa.svg') }}" />
            </button>
        </form>
    </div>
    <div id="course-container">
    </div>
{% endblock %}