{% extends "base.html" %}

{% block data %}
    <link rel="stylesheet" href="{{ url_for('course.static', filename='css/course_creation.css') }}">
    <script defer src="{{ url_for('course.static', filename='js/test.js') }}" ></script>
{% endblock %}

{% block content %}
    <form id="create-course" method = "post">
        <div id="form-name">Введите обязательные данные что бы создать свой курс</div>

        <div class="form-content-placer">
            <label class="form-text">Название:</label>
            <input type="text" class="form-input" name="name" placeholder="Название курса...">
        </div>
        
        <div class="form-content-placer">
            <label class="form-text">Описание курса:</label>
            <input type="text" class="form-input" name="description" placeholder="Описание курса...">
        </div>

        <div class="form-content-placer">
            <label class="form-text">Цвет курса:</label>
            <input type="color" id="color-input" name="color">
        </div>

        <button id="submit-button" type="submit">Подтвердить</button>
    </form>

{% endblock content %}