{% extends "base.html" %}

{% block data %}
    <link rel="stylesheet" href="{{ url_for('course.static', filename='css/course_page.css') }}">
    <script src="{{ url_for('course.static', filename='js/course_page.js') }}"></script>
{% endblock %}

{% block title %}
    Course page
{% endblock %}

{% block content %}
    <div id="course-name">
        Курс поедания хот-догов на скорость
    </div>
    <div class="message">
        <div class="user-container">
            <img src="{{ url_for('static', filename='img/Account.svg') }}" />
            <div class="user">
                <span class="user-name">Anna Pelmenevna</span>
                <span class="message-date">15 мар. 2024г.</span>
            </div>
        </div>
        <div class="description">Домашнее задание: абоба</div>
        <div class="files">
            <iframe width="390" height="260" src="https://www.youtube.com/embed/JrKOHNRnRMg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="390" height="260" src="https://www.youtube.com/embed/JrKOHNRnRMg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="390" height="260" src="https://www.youtube.com/embed/JrKOHNRnRMg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <form class="comment" method="post">
            <input class="comment-input" name="comment" placeholder="Добавьте комментарий..." />
            <button type="submit" class="send-button">
                <img src="{{ url_for('course.static', filename='img/Send.svg') }}" />
            </button>
        </form>
    </div>
    <div class="task">
        <div class="image-holder">
            <img src="{{ url_for('course.static', filename='img/Task.svg') }}" />
        </div>
        <div class="task-info">
            <span class="task-name">Практика сосисочника</span>
            <span class="task-date">24 мар. 2024г.</span>
        </div>
    </div>

    {% comment %} {% set fruits = [{'type': 'task', 'name': 'test1'}, {'type': 'task', 'name': 'test2'}, {'type': 'task', 'name': 'test3'}, {'type': 'message', 'name': 'aboba'}] %}

    {% for fruit in fruits %}
        {% if fruit.type == 'message' %}
        <div class="task">
            <div class="image-holder">
                <img src="{{ url_for('course.static', filename='img/Task.svg') }}" />
            </div>
            <div class="task-info">
                <span class="task-name">{{ fruit }}</span>
                <span class="task-date">24 мар. 2024г.</span>
            </div>
        </div>
        {% endif %}
    {% endfor %} {% endcomment %}
{% endblock %}